/win64/gorm_client/Debug
/debug/win64/sdk/gorm_tables/x64/Debug/vc142.pdb
/debug/win64/sdk/gorm_tables/x64/Debug/gorm_tables.tlog
/debug/win64/sdk/gorm_tables/x64/Debug/gorm_msg_helper.obj
/debug/win64/sdk/gorm_tables/x64/Debug/gorm_pb_proto.pb.obj
/debug/win64/sdk/gorm_tables/x64/Debug/gorm_pb_tables_inc.pb.obj
/debug/win64/sdk/gorm_tables/x64/Debug/gorm_table_field_map.obj
/debug/win64/sdk/gorm_tables/x64/Debug/gorm_table_field_map_define.obj
/debug/win64/sdk/gorm_tables/x64/Debug/gorm_tables.Build.CppClean.log
/debug/win64/sdk/gorm_tables/x64/Debug/gorm_tables.exp
/debug/win64/sdk/gorm_tables/x64/Debug/gorm_tables.idb
/debug/win64/sdk/gorm_tables/x64/Debug/gorm_tables.log
/debug/win64/sdk/gorm_tables/x64/Debug/gorm_tables.pdb
/debug/win64/sdk/gorm_tables/x64/Debug/gorm_tables.vcxproj.FileListAbsolute.txt
/debug/win64/sdk/gorm_tables/x64/Debug/gorm-db.pb.obj
/debug/win64/sdk/gorm_tables/x64/Debug/lnk{DACDB733-2E06-4561-89C8-572503D9C396}.tmp
/debug/win64/sdk/gorm_tables/x64/Debug/vc142.idb
/win64/gorm_common/Debug/gorm_utils.obj
/win64/gorm_common/Debug/gorm_common.tlog
/win64/gorm_common/Debug/gorm_common.idb
/win64/gorm_common/Debug/gorm_common.log
/win64/gorm_common/Debug/gorm_error.obj
/win64/gorm_common/Debug/gorm_event.obj
/win64/gorm_common/Debug/gorm_hash.obj
/win64/gorm_common/Debug/gorm_log.obj
/win64/gorm_common/Debug/gorm_mempool.obj
/win64/gorm_common/Debug/gorm_msgbuffer.obj
/win64/gorm_common/Debug/gorm_ringbuffer.obj
/win64/gorm_common/Debug/gorm_setproctitle.obj
/win64/gorm_common/Debug/gorm_socket.obj
/win64/gorm_common/Debug/gorm_thread.obj
/win64/gorm_common/Debug/gorm_thread_pool.obj
/win64/gorm_common/x64/Debug/gorm_utils.obj
/win64/gorm_common/x64/Debug/gorm_common.tlog
/win64/gorm_common/x64/Debug/gorm_common.Build.CppClean.log
/win64/gorm_common/x64/Debug/gorm_common.idb
/win64/gorm_common/x64/Debug/gorm_common.log
/win64/gorm_common/x64/Debug/gorm_common.vcxproj.FileListAbsolute.txt
/win64/gorm_common/x64/Debug/gorm_error.obj
/win64/gorm_common/x64/Debug/gorm_event.obj
/win64/gorm_common/x64/Debug/gorm_hash.obj
/win64/gorm_common/x64/Debug/gorm_log.obj
/win64/gorm_common/x64/Debug/gorm_mempool.obj
/win64/gorm_common/x64/Debug/gorm_msgbuffer.obj
/win64/gorm_common/x64/Debug/gorm_ringbuffer.obj
/win64/gorm_common/x64/Debug/gorm_setproctitle.obj
/win64/gorm_common/x64/Debug/gorm_socket.obj
/win64/gorm_common/x64/Debug/gorm_thread.obj
/win64/gorm_common/x64/Debug/gorm_thread_pool.obj
/win64/gorm_client/x64/Debug/gorm_server.obj
/win64/gorm_client/x64/Debug/gorm_client.tlog
/win64/gorm_client/x64/Debug/gorm_client.Build.CppClean.log
/win64/gorm_client/x64/Debug/gorm_client.idb
/win64/gorm_client/x64/Debug/gorm_client.log
/win64/gorm_client/x64/Debug/gorm_client.vcxproj.FileListAbsolute.txt
/win64/gorm_client/x64/Debug/gorm_client_event.obj
/win64/gorm_client/x64/Debug/gorm_client_request.obj
/win64/gorm_client/x64/Debug/gorm_client_response.obj
/win64/gorm_client/x64/Debug/gorm_client_server_mgr.obj
/debug/win64/sdk/example/gorm-example-get/x64/Debug/vc142.pdb
/debug/win64/sdk/example/gorm-example-get/x64/Debug/gorm-example-get.tlog
/debug/win64/sdk/example/gorm-example-get/x64/Debug/gorm-example-get.Build.CppClean.log
/debug/win64/sdk/example/gorm-example-get/x64/Debug/gorm-example-get.ilk
/debug/win64/sdk/example/gorm-example-get/x64/Debug/gorm-example-get.log
/debug/win64/sdk/example/gorm-example-get/x64/Debug/gorm-example-get.obj
/debug/win64/sdk/example/gorm-example-get/x64/Debug/gorm-example-get.pdb
/debug/win64/sdk/example/gorm-example-get/x64/Debug/gorm-example-get.vcxproj.FileListAbsolute.txt
/debug/win64/sdk/example/gorm-example-get/x64/Debug/vc142.idb
/win64/gorm_common/x64/Debug/gorm_event.nativecodeanalysis.sarif
/win64/gorm_common/x64/Debug/gorm_common.lib.lastcodeanalysissucceeded
/win64/gorm_common/x64/Debug/gorm_error.nativecodeanalysis.sarif
/win64/gorm_common/x64/Debug/gorm_error.nativecodeanalysis.xml
/win64/gorm_common/x64/Debug/vc.nativecodeanalysis.all.xml
/win64/gorm_common/x64/Debug/gorm_event.nativecodeanalysis.xml
/win64/gorm_common/x64/Debug/gorm_hash.nativecodeanalysis.sarif
/win64/gorm_common/x64/Debug/gorm_hash.nativecodeanalysis.xml
/win64/gorm_common/x64/Debug/gorm_log.nativecodeanalysis.sarif
/win64/gorm_common/x64/Debug/gorm_log.nativecodeanalysis.xml
/win64/gorm_common/x64/Debug/gorm_mempool.nativecodeanalysis.sarif
/win64/gorm_common/x64/Debug/gorm_mempool.nativecodeanalysis.xml
/win64/gorm_common/x64/Debug/gorm_msgbuffer.nativecodeanalysis.sarif
/win64/gorm_common/x64/Debug/gorm_msgbuffer.nativecodeanalysis.xml
/win64/gorm_common/x64/Debug/gorm_ringbuffer.nativecodeanalysis.sarif
/win64/gorm_common/x64/Debug/gorm_ringbuffer.nativecodeanalysis.xml
/win64/gorm_common/x64/Debug/gorm_setproctitle.nativecodeanalysis.sarif
/win64/gorm_common/x64/Debug/gorm_setproctitle.nativecodeanalysis.xml
/win64/gorm_common/x64/Debug/gorm_socket.nativecodeanalysis.sarif
/win64/gorm_common/x64/Debug/gorm_socket.nativecodeanalysis.xml
/win64/gorm_common/x64/Debug/gorm_thread.nativecodeanalysis.sarif
/win64/gorm_common/x64/Debug/gorm_thread.nativecodeanalysis.xml
/win64/gorm_common/x64/Debug/gorm_thread_pool.nativecodeanalysis.sarif
/win64/gorm_common/x64/Debug/gorm_thread_pool.nativecodeanalysis.xml
/win64/gorm_common/x64/Debug/gorm_utils.nativecodeanalysis.sarif
/win64/gorm_common/x64/Debug/gorm_utils.nativecodeanalysis.xml
/win64/gorm_common/x64/Debug/NativeCodeAnalysis.read.1.tlog
/debug/win64/sdk/example/gorm-example-get/.vs
/example/golang/pkg
